name: Frontend Build

on:
  workflow_dispatch:
  push:
    paths:
      - 'frontend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install frontend dependencies
        working-directory: frontend
        run: |
          npm install

      - name: Build frontend
        working-directory: frontend
        run: |
          npm run build || true
